img {
  max-width: 100%;
  height:auto;

}

.container img {
  float: right;
  width: 50%;
  display: inline-block;
}

#imgsel{
  border: orange 2px solid;
}

h1, h2, h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:seagreen;
}

h1{
  font-size: 24px;
  font-weight: bold;
  text-align:left;
}

h2{
  font-size: 22px;
  font-weight: bold;
  text-align:left;
}

h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

h4{
  font-size: 16px;
  text-align: center;
  background: white;
}

p{
  color: gray;
  text-align:left;
}

.navbar{
    position: absolute;
    right: 30px;
    background:seagreen;
}



/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}


body {
  width: 100%;
  min-height:100%;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.col {
  width: 100%;
  /* border: black 1px solid; */
  /* Font color */
  /* color:blue;  */
} 

.homebtn{
  background-color: white;
  z-index:2;
}

.homebtn a{
  width: 110px;
  background: seagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

.divtop{
  background-color: white;
  z-index:2;
}

.divbdy{
  background-color: white;
  z-index:1;
}

.divtable{
  text-align:center;
  background-color: white;
  z-index:1;
}

.divbtm {
  width:100%;
  /* position:absolute; */
  bottom:0;
  background-color: gray;
  z-index:0;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

